{% include "user/header.html" %} {% load static %}

<!-- Modal Search Start -->
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input
            type="search"
            class="form-control p-3"
            placeholder="keywords"
            aria-describedby="search-icon-1"
          />
          <span id="search-icon-1" class="input-group-text p-3"
            ><i class="fa fa-search"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Search End -->

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Contact</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active text-white">Contact</li>
  </ol>
</div>
<!-- Single Page Header End -->

<!-- Contact Start -->
<div class="container-fluid contact py-5">
  <div class="container py-5">
    <div class="p-5 bg-light rounded">
      <div class="row g-4">
        <div class="col-12">
          <div class="text-center mx-auto" style="max-width: 700px">
            <h1 class="text-primary">Liên hệ chúng tôi</h1>
            
          </div>
        </div>
        <div class="col-lg-12">
          <div class="h-100 rounded">
           
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7447.573600609299!2d105.742166!3d21.041215!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135096b31fa7abb%3A0xff645782804911af!2zVHLGsOG7nW5nIMSR4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgxJDDtG5nIMOB!5e0!3m2!1svi!2sus!4v1720146783417!5m2!1svi!2sus" 
            class="rounded w-100"
            
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      
        <div class="row">
          <div class="d-flex p-4 rounded mb-4 bg-white ">
            <i class="fas fa-map-marker-alt fa-2x text-primary me-4 "></i>
            <div>
              <h4>Address</h4>
              <p class="mb-2">Đại học công nghệ Đông  Á</p>
            </div>
          </div>
          <div class="d-flex p-4 rounded mb-4 bg-white">
            <i class="fas fa-envelope fa-2x text-primary me-4"></i>
            <div>
              <h4>Mail Us</h4>
              <p class="mb-2">20212043@eaut.edu.vn</p>
            </div>
          </div>
          <div class="d-flex p-4 rounded bg-white">
            <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
            <div>
              <h4>Telephone</h4>
              <p class="mb-2">(+84) 363 273 201</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->

{% include "user/footer.html"%}
