{% include "user/header.html" %}

<section class="pt-5"style="background-color: #eee;">
    <div class="container py-5 ">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <form method="post" enctype="multipart/form-data" action="?action=changeAvatar">
            {% csrf_token %}
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{request.session.khachHang_image_url}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 180px;height:198px;">
              <h5 class="my-3">{{request.session.khachHang_name}}</h5>

              <input type="file" name="avatar">
            </div>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-success" type="submit">
              <span class="btn-label">
                <i class="fa fa-check"></i>
              </span>
              Save avatar
            </button>
          </div>  
        </form>
        </div>
        <div class="col-lg-8">
            <form method="post" action="?action=update">
              {% csrf_token %}
            <input hidden name="action" value="update">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <input
                    type="text"
                    class="form-control"
                    id="fullname"
                    placeholder="Enter Email"
                    value="{{request.session.khachHang_name}}"
                    name="fullname"
                  />
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <input
                    type="email"
                    class="form-control"
                    id="email2"
                    placeholder="Enter Email"
                    value="{{request.session.khachHang_email}}"
                    name="email"
                  />
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <input
                    type="text"
                    class="form-control"
                    id="email2"
                    placeholder="Enter Phone"
                    value="{{request.session.khachHang_phone}}"
                    name="phone"
                  />
                  </div>
                </div>
                <hr>
                
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <input
                    type="text"
                    class="form-control"
                    id="email2"
                    placeholder="Enter Phone"
                    value="{{request.session.khachHang_address}}"
                    name="address"
                  />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <button class="btn btn-success" type="submit">
                  <span class="btn-label">
                    <i class="fa fa-check"></i>
                  </span>
                  Save Changes
                </button>
              </div>
            </div>
          </form> 
          </div>
      </div>
    </div>
  </section>
{% include "user/footer.html"%}