{% include 'user/header.html' %}
{% load static %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop Detail</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop Detail</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    {% if messages %}
    <div class="ml-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-slide" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col col-lg-12 col-xl-12">
                <div class="row g-4">
                    <div class="col-lg-8">
                        <div class="offset-2 rounded">
                            <a href="">
                                <img src="{{ nongsan.image.url }}" class="img-fluid rounded" alt="{{ nongsan.ten }}">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="fw-bold mb-5">
                            <a href="">
                                {{ nongsan.ten }}
                            </a>
                        </h4>
                        {% if nongsan.giamgia_hieu_luc %}
                        <p class="mb-0 mt-4">Giá :
                            <del>{{ nongsan.gia|floatformat:0 }} VNĐ</del><br>
                            {{ nongsan.gia_da_giam|floatformat:0 }} VNĐ
                        </p> <!-- Hiển thị giá đã giảm -->
                        {% else %}
                        <p class="mb-0 mt-4">Giá :{{ nongsan.gia|floatformat:0 }} VNĐ</p> <!-- Hiển thị giá gốc -->
                        {% endif %}
                        <p>Danh mục: {{ nongsan.madanhmuc.tendanhmuc }}</p>
                        <p>Trọng lượng: {{ nongsan.trongluong }} kg</p>
                        <p class="mb-4">{{ nongsan.mota }}</p>
                        {% if total_soluong > 0 %}
                        <form method="post" action="{% url 'add_to_cart' nongsan.idnongsan %}">
                            {% csrf_token %}
                            <div class="input-group quantity mb-5" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="number" name="quantity" class="form-control form-control-sm text-center border-0" value="1" min="1">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <p>Số lượng: {{ total_soluong }}</p>
                            <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                                <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                            </button>
                        </form>
                        {% else %}
                        <p style="color: red;">Hết hàng</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->

<script>
    // Tự động ẩn thông báo sau 3 giây
    setTimeout(function () {
        var alerts = document.querySelectorAll('.alert-slide');
        alerts.forEach(function (alert) {
            alert.style.opacity = '0';
            setTimeout(function () {
                alert.style.display = 'none';
            }, 500); // Đảm bảo rằng thời gian này khớp với transition trong CSS
        });
    }, 3000); // 3 giây
</script>

{% include 'user/footer.html' %}
