{%load static%}
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="/dashboard/" class="logo">
        <img
          src="{%static 'admin/assets/img/Logo.png'%} "
          alt="navbar brand"
          class="navbar-brand"
          height="20"
        />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item ">
          <a
            href="{%url 'dashboard'%}"
            class="collapsed"
            aria-expanded="false"
          >
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>
     
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#base">
            <i class="fa-solid fa-building-wheat"></i>  
            <p>Nông sản</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="base">
            <ul class="nav nav-collapse">
              <li>
                <a href="{%url 'nongsan'%}">
                  <span class="sub-item">Quản lý Nông Sản</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#giamgia">
            <i class="fas fa-percent"></i>
            <p>Giảm giá</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="giamgia">
            <ul class="nav nav-collapse">
              <li>
                <a href="{%url 'giamgia'%}">
                  <span class="sub-item">Quản lý Giảm giá</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#donhang">
            <i class="fas fa-cart-arrow-down"></i>
            <p>Đơn Hàng</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="donhang">
            <ul class="nav nav-collapse">
              <li>
                <a href="{%url 'order'%}">
                  <span class="sub-item">Quản lý Đơn Hàng</span>
                </a>
              </li>
              <li>
                <a href="{%url 'donhangdetail'%}">
                  <span class="sub-item">Quản lý chi tiết đơn hàng</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#kho">
            <i class="fas fa-warehouse"></i>
            <p>Kho</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="kho">
            <ul class="nav nav-collapse">
              <li>
                <a href="{%url 'kho'%}">
                  <span class="sub-item">Quản lý kho</span>
                </a>
              </li>
              <li>
                <a href="{%url 'tonkho'%}">
                  <span class="sub-item">Quản lý tồn kho</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
       
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#nhacungcap">
            <i class="fa-solid fa-truck-field"></i>
            <p>Nhà cung cấp</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="nhacungcap">
            <ul class="nav nav-collapse">
              <li>
                <a href="{%url 'nhacungcap'%}">
                  <span class="sub-item">Quản lý nhà cung cấp</span>
                </a>
              </li>
              <li>
                <a href="{%url 'ordernhacungcap'%}">
                  <span class="sub-item">Quản lý order nhà cung cấp</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        {% if request.session.user_role == 'admin' %}
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#taikhoan">
            <i class="fas fa-user-circle"></i>
            <p>Quản lý tài khoản</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="taikhoan">
            <ul class="nav nav-collapse">
              <li>
                <a href="{%url 'account'%}">
                  <span class="sub-item">Tài khoản</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        {%endif%}
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#nhanvien">
            <i class="fas fa-user-friends"></i>
            <p>Quản lý Nhân viên</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="nhanvien">
            <ul class="nav nav-collapse">
              <li>
                <a href="{%url 'nhanvien'%}">
                  <span class="sub-item">Nhân viên</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#nguoidung">
            <i class="fa-solid fa-users-between-lines"></i>
            <p>Quản lý Người Dùng</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="nguoidung">
            <ul class="nav nav-collapse">
              <li>
                <a href="{%url 'nguoidung'%}">
                  <span class="sub-item">Người dùng</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->
